<html>
    <head>

    </head>
    <body >
        <form method="POST" >
            <div>
                <label>Full Name</label>
                <input type="text" name="name" value="{{mydata.student_name}}" placeholder="FUll Name">
                <label>Email</label>
                <input type="email" name="email" value="{{mydata.student_email}}" placeholder="example@gmail.com">
                <label>Password</label>
                <input type="password" name="password" value="{{mydata.student_password}}" placeholder="type password...">
                <label>Gender</label>
                <input type="radio" value="{{mydata.student_gender}}" name="gender">Male
                <input type="radio" value="{{mydata.student_gender}}" name="gender">Female
                <input type="radio" value="{{mydata.student_gender}}" name="gender">Other
                <label>City</label>
                <select name="city" value="{{mydata.student_address}}">
                    <option>Indore</option>
                    <option>Burhanpur</option>
                    <option>Gwalior</option>
                    <option>Khandwa</option>
                </select>
                <input type="Submit" value="Submit">
            </div>
        </form>
    </body>
</html>